<!doctype html>
<html lang="en" xmlns:th="http//www.thymeleaf.org" 
				th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>This is Home Page</title>
</head>
<body>

	<section>
			
			
			<div class="card">
			
				<div class="card-body">
				
					<h1 class="text-center">Add Contact</h1>
					
					<div class="container-fluid">
					
					<div class="row">
					
					
					<div class="col-md-8 offset-md-2">
					
					<form 	action="#"
							th:object="${contact}"
							enctype="multipart/form-data"
							method="POST"
							th:action="@{/user/process-contact}"
							class="mt-2"
					>
					
						<!-- first name field -->
						
						<div class="input-group">
						
							<div class="input-group-prepend">
							
								<div class="input-group-text">
								
										<i class="fas fa-file-signature fa-2x"></i>
								
								</div>
							
							</div>
							
							<input required type="text" id="firstName" name="name" placeholder="Enter Name Here" class="form-control" />
						
						</div>
					
					<!-- second name -->
					
						<div class="input-group mt-2">
						
							<div class="input-group-prepend">
							
								<div class="input-group-text">
								
										<i class="fas fa-user-alt fa-2x"></i>
								
								</div>
							
							</div>
							
							<input required type="text" id="secondName" name="secondName" placeholder="Enter Nick-Name Here" class="form-control" />
						
						</div>
					
					<!-- email -->
					
					
							<div class="input-group mt-2">
						
							<div class="input-group-prepend">
							
								<div class="input-group-text">
								
										<i class="fas fa-at fa-2x"></i>
								
								</div>
							
							</div>
							
							<input required type="text" id="email" name="email" placeholder="Enter Email Address" class="form-control" />
						
						</div>
					
					
					<!-- phone -->
					
					
							<div class="input-group mt-2">
						
							<div class="input-group-prepend">
							
								<div class="input-group-text">
								
										<i class="fas fa-phone fa-2x"></i>
								
								</div>
							
							</div>
							
							<input required type="number" id="phone" name="phone" placeholder="Enter Phone Number" class="form-control" />
						
						</div>
					
					
					<!-- work -->
					
					
						<div class="input-group mt-2">
						
							<div class="input-group-prepend">
							
								<div class="input-group-text">
								
										<i class="fas fa-briefcase fa-2x"></i>
								
								</div>
							
							</div>
							
							<input required type="text" id="work" name="work" placeholder="Enter Work Here" class="form-control" />
						
						</div>
					
					
					<!-- Contact Description -->
					
						<div class="form-group mt-3">
						
						
							<textarea id="mytextarea" placeholder="Enter Contact Description" name="description" class="form-control" rows="10"></textarea>
						
						
						
						</div>
						
						
						<!-- contact image -->
					
							<div class="custom-file mt-2">
							
								<input type="file" name="profileImage"/>
							
							</div>
							
							
							<!-- Save contact button -->
							
							<div class="container text-center">
							
								<button class="btn btn-outline-primary">Save Contact</button>
							
							</div>
					
					
					
					
					
					
					</form>
					
					</div>
					
					
					</div>
					
					</div>
				
				</div>
			
			</div>
			
			<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
			<script>
      tinymce.init({
        selector: '#mytextarea'
      });
    </script>
			
	</section>	
	
</body>
</html>